<%= form_for :comment, url:request_comments_path(@request.id) do |f| %>
<div class="form-group">
<%= f.text_area :text, class: "form-control", rows: 8 %>
</div>
<div class="form-group">
<%= f.submit "Прокоментувати", class:"btn btn-sm btn-primary"%>
</div>    
<%end%>
