.central{

  text-align: center;
  vertical-align: middle;
    width: 720px;
  margin: auto;
    margin-top: 20px;
}
.message{
  font-size: 14px;
  color: grey;
  margin: 15px;
}
.central-form{
  text-align: center;
  width: 720px;
margin: auto;
margin-top: 20px;
}
