<nav class="navbar navbar-light bg-light">
  <%= link_to root_path, class:'navbar-brand' do %>
    Bootstrap
  <%end%>
  <%= link_to "Створити заявку", new_request_path, class:"btn btn-warning"%>
</nav>
